html,
body {
    padding: 0;
    margin: 0;
    font-family: OCR A Std, VT323, sans-serif;
    background-color: #00090a;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}