.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #00090a;
    z-index: 100;
    padding: 0 50px;
}

.logo {
    position: relative;
    font-size: 124px;
    color: #48ff50;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
    filter: blur(10px);
}

.NavBarItemsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 150px;
    font-size: 64px;
}

.NavBarItem {
    position: relative;
    pointer-events: none;
}

.ActiveItem {
    color: #48ff50;
}

.ActiveItem::before {
    position: absolute;
    top: -16px;
    left: 0;
    content: attr(data-before);
    color: #48ff50;
    filter: blur(5px);
    z-index: -1;
}